<main class="main">
    <div class="container">
        <%- partial('common/main-title') %>
        <% if(page.banner) { %>
            <div class="main__image main__image_width-100">
                <img class="main-image" src="<%= page.banner %>" width="400" alt="<%= page.title %>">
            </div>
        <% } %>
        <div class="main__content">
            <div class="content">
                <%- markdown(page.content) %>
            </div>
        </div>
    </div>
</main>