<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typePost == page.typePost) {
    return true;
  } else {
    return false;
  }
}
var postsList = site.posts.filter(filterByTypePost);
%>

<main class="main">
    <div class="container">
        <%- partial('common/main-title') %>
        <div class="main__content main__content_width-100">
            <div class="content">
                <%- markdown(page.content) %>
                <ul class="posts-list">
                    <% postsList.each(function (post, i) { %>
                        <li class="posts-list-item">
                            <a href="<%= post.path %>" class="posts-list-item__link"><%= post.title %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</main>