<div class="top-phone">
  <div class="top-phone__contacts">
    <div class="top-phone__number"><%= site.data.company.phone %></div>
    <a href="#" class="top-phone__call-me-link">Заказать звонок</a>
  </div>
  <%- partial('../common/first-lesson-link') %>
</div>