<head>
  <meta charset="utf-8">
  <!-- Теги для адаптивности. Перед ними ничего не вставлять -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Базовый URL от которого строяться все относительные ссылки на странице -->
  <!--<base href="/">-->

  <!-- Каноническая ссылка -->
  <!--<link rel="canonical" href="/" />-->

  <!-- DNS-prefetch -->
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <!--<link rel="dns-prefetch" href="http://static-amp.udelta.ru">-->

  <!-- SEO теги -->
  <title>[dev] Главная</title>
  <meta name="description" content="" />
  <meta name="Keywords" content="Главная" />

  <!-- Теги Open Graph -->
  <!--<meta property="og:locale" content="ru_RU" />-->
  <!--<meta property="og:type" content="website" />-->
  <!--<meta property="og:title" content="Главная" />-->
  <!--<meta property="og:url" content="/index.html" />-->
  <!--<meta property="og:site_name" content="Студия гитары 'ArtMusic Pro'" />-->
  <!--<meta property="og:image" content="http://static-amp.udelta.ru/images/og/visitka.jpg" />-->
  <!--<meta property="og:description" content="" />-->

  <!-- Favicons -->

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/commons.css">
</head>